*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    /* height: 100vh; */
    background-color: #202427;
}
h2{
    font-size: 35px;
    padding-bottom: 20px;
}

.topo-menu{
    display: flex;
    align-items: center;
    background-color: #161616;
}
.topo-menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.topo-menu ul li{
    --color: #ED145B;
 font-family: inherit;
 display: inline-block;
 width: 8.5em;
 height: 2.6em;
 line-height: 2.5em;
 /* margin: 20px; */
 position: relative;
 overflow: hidden;
 /* border: 1px solid var(--color); */
 border-bottom: 2px solid var(--color);
 transition: color .5s;
 z-index: 1;
 font-size: 17px;
 /* border-radius: 6px; */
 font-weight: 500;
 color: var(--color);
}
.topo-menu ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .topo-menu ul li:hover {
    color: #fff;
   }
   
   .topo-menu ul li:before {
    top: 100%;
    left: 100%;
    transition: all .4s;
   }
   
   .topo-menu ul li:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .topo-menu ul li:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

.topo-menu ul li:first-of-type{
    border-top: 2px solid #ED145B;
}
.topo-menu ul li a{
    padding: 10px 40px;
    color: white;
}
.topo-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 300px;
}
.topo-titulo h1{
    font-size: 50px;
}
.topo-titulo h2{
    font-size: 45px;
}
.topo-titulo-a{
    margin-top: 50px;
}
.topo-titulo-a a{
    --color: #ED145B;
    font-family: inherit;
    display: inline-block;
    padding: 5px 30px;
    line-height: 2.5em;
    text-align: center;
    /* margin: 20px; */
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    /* border-bottom: 2px solid var(--color); */
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}
.topo-titulo-a a:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .topo-titulo-a a:hover {
    color: #fff;
   }
   
   .topo-titulo-a a:before {
    top: 100%;
    left: 100%;
    transition: all .4s;
   }
   
   .topo-titulo-a a:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .topo-titulo-a a:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

.sobre{
    padding: 30px 100px;
    /* height: 100vh; */
}
.sobre-div{
    display: flex;
}
.sobre-div p{
    width: 50%;
}
.sobre-img{
    /* background-color: red; */
    width: 50%;
}
.projeto{
    padding: 30px 100px;
    color: white;
    background-color: #202427;
}.projeto-ex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projeto-card{
    height: 400px;
    width: 600px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.projeto-dado{
    color: black;
    display: none;
}

